/**
 * @file
 * Navigation Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003103}}
.sprite {
  background: url(../images/sprite.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003106}}
.sprite-coaching-icon {
  background-position: 0 0;
  width: 90px;
  height: 101px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003107}}
.sprite-families-icon {
  background-position: 0 -151px;
  width: 84px;
  height: 81px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003108}}
.sprite-groups-icon {
  background-position: 0 -282px;
  width: 61px;
  height: 64px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003109}}
.sprite-individuals-icon {
  background-position: 0 -396px;
  width: 84px;
  height: 85px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003110}}
.sprite-logo-footer {
  background-position: 0 -531px;
  width: 46px;
  height: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003111}}
.sprite-logo {
  background-position: 0 -591px;
  width: 173px;
  height: 190px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003112}}
.sprite-psychotherapy-icon {
  background-position: 0 -831px;
  width: 95px;
  height: 109px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003113}}
.sprite-signature-programmes-icon {
  background-position: 0 -990px;
  width: 136px;
  height: 114px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003114}}
.sprite-the-practice-icon {
  background-position: 0 -1154px;
  width: 78px;
  height: 109px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003115}}
.sprite-the-team-icon {
  background-position: 0 -1313px;
  width: 56px;
  height: 108px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003116}}
.sprite-training-and-consulting-icon {
  background-position: 0 -1471px;
  width: 146px;
  height: 113px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003117}}
.sprite-we-are-looking-box {
  background-position: 0 -1634px;
  width: 294px;
  height: 177px;
}

/*
/*
 * Markup generated by theme_menu_tree().
 */
                                                          /*
ul li.expanded {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-expanded.png);
  }
  list-style-image: inline-image("menu-expanded.png");
  list-style-type: circle;
}
ul li.collapsed {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-collapsed.png); /* LTR */
                                                      /* }
list-style-image: inline-image("menu-collapsed.png"); /* LTR */
/*  list-style-type: disc;
}
ul li.leaf {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-leaf.png);
  }
  list-style-image: inline-image("menu-leaf.png");
  list-style-type: square;
}*/
/*
 * The active item in a Drupal menu
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000338}}
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000345}}
#navigation:focus {
  border: 0 none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000348}}
#navigation {
  /* overflow: hidden; */
  /* Sometimes you want to prevent overlapping with main div. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000353}}
#navigation .block {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000358}}
#navigation .block-menu .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000363}}
#navigation ul.links,
#navigation ul.menu {
  /* Menu block links */
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000369}}
#navigation ul.links li,
#navigation ul.menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: left;
  /* LTR */
  padding: 0 0 0 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000376}}
#navigation ul.links li a,
#navigation ul.menu li a {
  text-decoration: none;
  color: #5f5952;
  text-transform: uppercase;
}

/*
 * Main menu and Secondary menu links
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000392}}
#main-menu {
  margin-bottom: 6px;
  height: 222px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\0000397}}
#main-menu .menu > li {
  border-bottom: 5px solid white;
  margin-right: 20px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003102}}
#main-menu .menu > li > a {
  line-height: 13px;
  font-size: 11px;
  display: block;
  text-align: left;
  padding: 0 35px 4px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003113}}
#main-menu li:hover .sub-menu {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003116}}
#main-menu li:hover .sub-menu .image {
  background: #dad7d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003121}}
#main-menu .menu-mlid-537 .sub-menu {
  left: 446px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003126}}
#main-menu .menu-mlid-631.is-active > a .image {
  background: #dc3a1b !important;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003130}}
#main-menu .menu-mlid-631 > a .image:hover {
  background: #dc3a1b !important;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003135}}
#main-menu .menu-mlid-540 .sub-menu {
  left: 564px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003139}}
#main-menu .menu-mlid-517 .sub-menu {
  left: 96px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003143}}
#main-menu .menu-mlid-633.is-active > a .image {
  background: #533280 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003146}}
#main-menu .menu-mlid-633 > a .image:hover {
  background: #533280 !important;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003151}}
#main-menu .menu-mlid-630 .sub-menu {
  left: auto;
  width: auto;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003157}}
#main-menu .menu-mlid-632.is-active > a .image {
  background: #ed8d1b !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003160}}
#main-menu .menu-mlid-632 > a .image:hover {
  background: #ed8d1b !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003164}}
#main-menu .menu-mlid-635.is-active a .image {
  background: #8a8480;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003169}}
#main-menu .menu > li.last {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003171}}
#main-menu .menu > li.last > a {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003176}}
#main-menu .menu > li:hover, #main-menu .menu > li.active {
  border-bottom: 3px solid #8a8480;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003182}}
#main-menu .menu > li:hover {
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003186}}
#main-menu .menu > li.active:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003190}}
#main-menu .menu > li.last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003195}}
#main-menu .is-active ul.sub-menu {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003200}}
#main-menu ul.sub-menu {
  position: absolute;
  top: 25;
  display: none;
  left: 0;
  width: 100%;
  padding: 0;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003209}}
#main-menu ul.sub-menu .hide {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003213}}
#main-menu ul.sub-menu li {
  float: left;
  width: 169px;
  text-align: center;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003219}}
#main-menu ul.sub-menu li .image {
  width: 100%;
  height: 175px;
  margin-bottom: 4px;
  background: #8a8480;
  cursor: pointer;
  vertical-align: bottom;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003228}}
#main-menu ul.sub-menu li .image .wrapper {
  position: absolute;
  bottom: 22px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003237}}
#main-menu ul.sub-menu li .image:hover {
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003240}}
#main-menu ul.sub-menu li .line {
  width: 100%;
  height: 3px;
  background: #8a8480;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003250}}
#main-menu ul.sub-menu li:hover .image,
#main-menu ul.sub-menu li.is-active-trail .image {
  background: #dad7d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003253}}
#main-menu ul.sub-menu li:hover .line,
#main-menu ul.sub-menu li.is-active-trail .line {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003260}}
#main-menu .menu-mlid-635 ul.sub-menu .image:hover {
  background: #8a8480;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003263}}
#main-menu .menu-mlid-635 ul.sub-menu li.is-active-trail .image {
  background: #8a8480;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003272}}
#main-menu .menu-mlid-517.is-active ul.sub-menu li .image {
  background: #226772;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003276}}
#main-menu .menu-mlid-517.is-active ul.sub-menu li .line {
  background: #66959d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003283}}
#main-menu .menu-mlid-517.is-active ul.sub-menu li.active .image {
  background: #66959d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003293}}
#main-menu .menu-mlid-517 ul.sub-menu li .image:hover {
  background: #66959d;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003302}}
#main-menu ul.sub-menu .menu-mlid-633.is-active .line {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003311}}
#secundary-menu {
  float: right;
  /* LTR */
  height: 192px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003315}}
#secundary-menu > div {
  float: left;
  width: 145px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003320}}
#secundary-menu > div .content {
  width: 100%;
  height: 175px;
  margin-bottom: 4px;
  background: #8a8480;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003328}}
#secundary-menu > div .line {
  width: 100%;
  height: 4px;
  background: #8a8480;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003337}}
#secundary-menu > div:hover .content {
  background: #dad7d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003340}}
#secundary-menu > div:hover .line {
  display: block;
}

/*
 * Menu blocks
 */
/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
/** Media Querys  **/
/* Large desktop */
@media (min-width: 768px) and (max-width: 1089px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003374}}
  #navigation {
    float: none;
    height: 410px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 830px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003385}}
  #navigation #main-menu .menu > li > a {
    padding: 0 21px 4px 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003394}}
  #navigation {
    width: 100%;
    padding: 0;
    height: auto;
    margin-bottom: 25px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003397}}
  #navigation li:hover ul.sub-menu {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003399}}
  #navigation li:hover ul.sub-menu .line {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003407}}
  #navigation li.is-active:hover ul.sub-menu,
  #navigation li.is-clicked:hover ul.sub-menu,
  #navigation li.active ul.sub-menu {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003412}}
  #navigation .is-clicked ul.sub-menu {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003417}}
  #navigation li {
    opacity: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003425}}
  #navigation .menu .menu__item {
    padding: 0;
    margin: 0;
    width: 50%;
    border: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003431}}
  #navigation .menu .menu__item > a {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #fff;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003438}}
  #navigation .menu .menu__item .sub-menu {
    padding: 0;
    position: relative;
    width: 200%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003443}}
  #navigation .menu .menu__item .sub-menu li {
    width: 100%;
    display: inline-block;
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003449}}
  #navigation .menu .menu__item .sub-menu .image {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003452}}
  #navigation .menu .menu__item .sub-menu .hide {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003460}}
  #navigation .menu .menu__item:nth-child(2n) .sub-menu {
    left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003464}}
  #navigation .menu-mlid-419 {
    background: #dfdad7;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003467}}
  #navigation .menu-mlid-419 .sub-menu {
    background: #dfdad7;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003471}}
  #navigation .menu-mlid-517 {
    background: #246873;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003474}}
  #navigation .menu-mlid-517 > a {
    background: url("../images/dropdown.png") center 80% no-repeat;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003478}}
  #navigation .menu-mlid-517 .sub-menu {
    background: #246873;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003482}}
  #navigation .menu-mlid-635 {
    background: #8a8480;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003485}}
  #navigation .menu-mlid-635 > a {
    background: url("../images/dropdown.png") center 80% no-repeat;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003489}}
  #navigation .menu-mlid-635 .sub-menu {
    background: #8a8480;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003493}}
  #navigation .menu-mlid-537 {
    background: #d83b1b;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003496}}
  #navigation .menu-mlid-537 .sub-menu {
    background: #d83b1b;
    display: none !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003501}}
  #navigation .menu-mlid-540 {
    background: #533280;
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003505}}
  #navigation .menu-mlid-540 .sub-menu {
    background: #533280;
    display: none !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003511}}
  #navigation .menu-mlid-630 {
    background: #ed8d1b;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003514}}
  #navigation .menu-mlid-630 .sub-menu {
    background: #ed8d1b;
    display: none !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/navigation\.scss}line{font-family:\00003521}}
  #navigation .menu .menu__item.active, #navigation .menu .menu__item:hover {
    border: none;
  }
}
