/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003103}}
.sprite {
  background: url(../images/sprite.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003106}}
.sprite-coaching-icon {
  background-position: 0 0;
  width: 90px;
  height: 101px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003107}}
.sprite-families-icon {
  background-position: 0 -151px;
  width: 84px;
  height: 81px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003108}}
.sprite-groups-icon {
  background-position: 0 -282px;
  width: 61px;
  height: 64px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003109}}
.sprite-individuals-icon {
  background-position: 0 -396px;
  width: 84px;
  height: 85px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003110}}
.sprite-logo-footer {
  background-position: 0 -531px;
  width: 46px;
  height: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003111}}
.sprite-logo {
  background-position: 0 -591px;
  width: 173px;
  height: 190px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003112}}
.sprite-psychotherapy-icon {
  background-position: 0 -831px;
  width: 95px;
  height: 109px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003113}}
.sprite-signature-programmes-icon {
  background-position: 0 -990px;
  width: 136px;
  height: 114px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003114}}
.sprite-the-practice-icon {
  background-position: 0 -1154px;
  width: 78px;
  height: 109px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003115}}
.sprite-the-team-icon {
  background-position: 0 -1313px;
  width: 56px;
  height: 108px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003116}}
.sprite-training-and-consulting-icon {
  background-position: 0 -1471px;
  width: 146px;
  height: 113px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/_base\.scss}line{font-family:\00003117}}
.sprite-we-are-looking-box {
  background-position: 0 -1634px;
  width: 294px;
  height: 177px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/eximia\/source\/sites\/all\/themes\/custom\/sass\/wireframes\.scss}line{font-family:\0000319}}
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
