/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 28px 39px 0 39px;
  color: $grisClaroTexto;

  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;

  background: url(../images/bg.jpg);
  background-size: 100%;
}

p {
  margin: 5px 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  .logo-wrapper {
    float: left;
  }
}

#logo {
  /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {

}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title,
h1 {
  /* Comment title */
  margin: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: normal;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li {
    /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  margin-top: 12px;
  
  a{
    color: $grisClaroTexto;
    text-decoration: none;
  }
}

/*
 * Page bottom
 */

.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*HOME PAGE*/
.front {

  .home-menu-link {
    color: inherit;
    text-decoration: none;
  }

  #footer {
    float: left;
    width: 100%;
    margin-top: 125px;
  }


  #page {
    max-width: 100%;
    position: relative;
    padding-bottom: 80px;
  }
  padding-top: 83px;
  #header {
    float: left;
    width: 20%;
  }

  #main {
    float: left;
    width: 80%;

    li {
      list-style-type: none;
    }
    #content > ul {
      margin: 0;
      padding: 0;

      > li {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;

        > a {
          font-size: 13px;
          border-bottom: 3px solid $grisOscuro;
          display: block;
          padding-bottom: 7px;
          margin-bottom: 10px;
        }
        .more {
          display: block;
          text-align: right;
          color: $blanco;
          text-decoration: none;
        }
        .text-box {
          margin-bottom: 10px;
          
          transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          cursor:pointer;
        }
        .text-box:hover {
          opacity: 0.8;
        }
        .cursive {
          background: $grisOscuroOpacity;
          padding: 16px 12px;
          margin-bottom: 10px;
          font-size: 20px;
          font-family: $cursiva;
          line-height: 23px;
          .right{
            text-transform: capitalize;
          }
          a {
            display: block;
            color: $grisOscuro;
            text-decoration: none;
            margin-bottom: 5px;


          }
          a:hover{
            color: $naranja;
          }
          .left, .right {
            display: inline-block;
            width: 67%;
            vertical-align: top;
          }
          .left {
            width: 30%;
            font-family: $futuramedium;
            font-size: 11px;
          }
        }
      }

      .phrase {
        width: 20%;
        color: $azul;
        text-align: center;
        font-size: 20px;
        line-height: 29px;
        font-family: $font-body;
        padding-top: 32px;

        ul#fade {
          margin: 0;
          padding: 0;
          margin: 0 auto;
          text-transform: uppercase;
          li.cycle-phrase {

          }
        }
      }

      .story {
        width: 15%;

        > a {
          border-color: $azul;
        }
        > a:hover {
          color: $azul;
        }

        .text-box {
          padding: 15px 10px;
          background: $azul;
          color: $blanco;

          .more {
            margin-top: 110px;
          }
        }
      }

      .help {
        width: 17%;

        .text-box {
          padding: 15px 17px;
          background: $grisOscuro;
          color: $blanco;

          .more {
            margin-top: 13px;
          }
        }
      }

      .contact {
        width: 11%;

        > a {
          border-color: $naranjaOscuro;
        }
        > a:hover {
          color: $naranjaOscuro;
        }

        .text-box {
          padding: 15px 7px;
          background: $naranjaOscuro;
          color: $blanco;

          .more {
            margin-top: 253px;
          }
        }
      }

      .like {
        width: 21%;

        > a {
          border-color: $violeta;
        }
        > a:hover {
          color: $violeta;
        }

        .text-box {
          padding: 15px 20px;
          background: $violeta;
          color: $blanco;

          .more {
            margin-top: 40px;
          }
        }
      }

      .faq {
        width: 9%;
        margin-right: 0;

        > a {
          border-color: $naranjaClaro;
        }
        > a:hover {
          color: $naranjaClaro;
        }

        .text-box {
          padding: 15px 8px;
          background: $naranjaClaro;
          color: $blanco;

          .more {
            margin-top: 430px;
          }
        }
      }

    }
    .map {
      left: 52%;
      position: absolute;
      top: 395px;
    }

    .pictures {
      left: -32px;
      position: absolute;
      top: 290px;
      .team-even, .team-odd {
        float: left;
        .avatar-title {
          line-height: 30px;
          margin-bottom: 0;
          margin-top: 0;
          text-align: center;
          a {
            color: #686967;
            text-decoration: none;
            font-size: 11px;
            font-weight: normal;
          }
        }
      }
      .team-odd {
        left: -34px;
        position: relative;
        top: 40px;
      }
    }

  }
}

/*BASIC PAGES STYLES*/
.node-type-page, .node-type-team-member {

  #main {
    padding-top: 115px;
    padding-bottom: 100px;
    background: url(../images/green-bg.png);
    position: relative;
    text-align: center;

  }

  .inner-content {
    width: 90%;
    display: inline-block;
    text-align: left;

    .image {
      float: left;
      padding-right: 3%;
      text-align: center;
      width: 54%;
      font-size: 23px;
      line-height: 37px;
      ul#fade {
        margin: 0;
        padding: 0;
        li.cycle-phrase {
          list-style: none;
          text-transform: uppercase;
        }
      }
      .team-even, .team-odd {
        float: left;
        .avatar-title {
          font-size: 14px;
          line-height: 10px;
          margin-bottom: 0;
          margin-top: 0;
          text-align: center;
          a {
            color: #686967;
            text-decoration: none;
          }
        }
      }
      .team-even {
        margin-left: 80px;
        margin-top: 10px;
      }
      .team-odd {
        left: -34px;
        margin-top: 10px;
        position: relative;
        top: 40px;
      }
    }

    .body {
      float: left;
      width: 39%;
      font-size: 12px;

      a {
        text-decoration: none;
      }
      strong {
        color: $verdeClaro;
        font-weight: normal;
      }
      .column-1 {
        float: left;
        width: 38%;

      }

      .column-2 {
        float: right;
        width: 46%;
        color: $azul;
      }

    }

  }
}

.node-type-team-member {
  h1 {
    margin-bottom: 5px;
  }
  #main {

  }

  #content {
    .node-team-member {
      width: 90%;
      margin: 0 auto;
    }

    .group-left {
      float: left;
      padding-right: 3%;
      text-align: center;
      width: 54%;

    }

    .group-right {
      float: left;
      font-size: 12px;
      width: 36%;
      text-align: left;

      a {
        text-decoration: none;
        color: $verdeClaro;
      }

      .field-name-field-description {
        margin-bottom: 10px;
      }
      .field-name-field-address,
      .field-name-field-mobile,
      .field-name-field-email {
        color: $verdeClaro;
        line-height: 15px;
      }
    }

  }
}

/** CONTACT **/
.page-node-16 {
  .inner_column {
    background: rgba(220, 58, 27, 0.4);
    margin-bottom: 8px;

    .wrapper {
      width: 90%;
      margin: 0 auto;
      padding: 20px 0;
      font-size: 12px;
    }

    .left {
      float: left;
      width: 50%;
      margin-right: 2%;
      text-align: justify;
    }
    .right {
      float: left;
      width: 30%;
      text-align: justify;
    }

    .col-1, .col-2, .col-3, .col-4 {
      float: left;
      margin-right: 25px;
      min-height: 370px;
      
      a{
        text-decoration: none;
        color: $grisClaroTexto;
      }
    }
    .col-1 {
      width: 30%;
    }
    .col-2 {
      width: 15%;

      p {
        margin-bottom: 30px;
      }
    }
    .col-3 {
      width: 15%;

      p {
        margin-bottom: 30px;
      }
    }
    .col-4 {
      width: 30%;

      form {
        padding: 20px;
        background: #fff;
      }

      input, textarea {
        width: 100%;
        border: none;
        background: rgba(95, 89, 82, 0.3);
        padding: 5px;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      #edit-submit {
        background: #8a8480;
        color: #fff;
      }
    }

  }
}

/** FAQ **/
.page-node-18 {
  #main {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  #content {
    background: rgba(237, 141, 27, 0.2);
    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 8px;
  }
  .view-mode-full {
    text-align: center;

    .wrapper {
      width: 80%;
      display: inline-block;

      .body-content {

        h2 {
          line-height: 25px;
          margin-bottom: 25px;
        }
        width: 30%;
        float: left;
        text-align: left;
        margin-right: 10%;
        font-size: 12px;
      }

      .faq-block-wrapper {
        float: left;
        text-align: left;
        font-size: 12px;
        width: 24%;
        margin-right: 5%;

        .faq-link {
          text-decoration: none;
          display: block;
          color: #686967;
          margin-bottom: 15px;
          padding-left: 22px;
          background: url("../images/mas.png") no-repeat left center;
        }

        .faq-link.active {
          color: #ed8d1b;
          background: url("../images/mas_active.png") no-repeat left center;
        }
      }

    }
  }

  .faq-details {
    padding-top: 35px;
    border-top: 8px solid #fff;
    margin-top: 25px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
    font-size: 12px;

    .faq-title {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .faq-col-a {
      width: 40%;
      margin-right: 5%;
      vertical-align: top;
      display: inline-block;
    }

    .faq-col-b {
      width: 40%;
      vertical-align: top;
      display: inline-block;
    }
  }

}

/*.page-node-25 {*/
.page-things-we-like {
  #main {
    background: rgba(83, 50, 128, 0.2);

    #content {
      padding: 0 27%;

      div.view-content {
        padding: 50px 0;
      }

      .views-row {
        float: left;
        width: 45%;
        margin-right: 5%;
        text-align: left;
        margin-bottom: 25px;
        font-size: 12px;

        .views-field-title {
          font-size: 17px;
          margin-bottom: 15px;
        }

        .views-field-nothing a {
          text-decoration: none;
          color: #686967;
          display: block;
          margin-top: 14px;
          font-size: 21px;
        }

        a {
          color: inherit;
          font-size: 17px;
          text-decoration: none;
        }

      }

      .views-row.views-row-even {
        margin-right: 0;
      }

    }

  }
  .things-we-like-menu ul, .services-menu ul {
    float: right;
    background: rgba(83, 50, 128, 0.2);
    padding-left: 0;
    margin-top: 0;

    li {
      list-style-type: none;
      float: left;

      a {
        display: block;
        padding: 45px 35px;
        text-decoration: none;
        color: #fff;
        font-size: 21px;
        font-family: $cursiva;
        text-align: center;

        img {
          margin-bottom: 15px;
        }
      }
    }

    .active a {
      background: #533280;
    }

  }
}

.node-type-how-can-we-help {
  font-size: 12px;
  .services-description {
    background: rgba(83, 50, 128, 0.2);
    background: $grisClaro;
    padding: 27px 64px;
    margin-bottom: 8px;
    
    a{
      color: $azul;
      text-decoration: none;
    }

    > div {
      display: inline-block;
      width: 45%;
      vertical-align: top;
    }

    .left {
      margin-right: 5%;
    }
  }

  #content {
    padding: 27px 64px;
    background: rgba(83, 50, 128, 0.2);
    background: $grisClaro;;

    .views-row {
      float: left;
      width: 20%;
      margin-right: 10%;
      
      a{
        color: $azul;
        text-decoration: none;
      }

      .views-field-field-image {
        text-align: center;
        min-height: 100px;
      }

      .views-field-title {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 12px;
        text-transform: uppercase;
      }

      .views-field-view-node a {
        font-size: 17px;
        text-decoration: none;
        color: #686967;
        display: block;
      }
    }
  }
}

.page-node-65 {
  .services-description {
    padding: 90px 30%;
  }
}
.view-content{
  margin: 0 auto;
  .views-row-first{
    margin-left: 10%;
  }
}

/** Media Querys  **/

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1089px) {

  #header {
    float: none;
    width: 100%;
    text-align: center;

    .logo-wrapper {
      float: left;
      text-align: center;
      width: 100%;

      .sprite-logo {
        display: inline-block;
      }
    }
  }

  /*HOME PAGE*/
  .front {
    background-size: cover;

    #page {
      max-width: 100%;
      position: relative;
      padding-bottom: 20px;
    }
    padding-top: 30px;

    #header {
      float: none;
      width: 100%;
      text-align: center;

      .logo-wrapper {
        display: inline-block;
        float: none;
      }
    }

    #main {
      float: none;
      width: 100%;

      li {
        list-style-type: none;
      }
      #content > ul {
        margin: 0;
        padding: 0;

        > li {
          width: 100%;

          > a {
            text-align: center;
            height: 30px;
          }
          .more {

          }
          .text-box {
            margin-bottom: 20px;
            padding: 15px 17px !important;
            height: 252px;
            position: relative;

            .more {
              position: absolute;
              bottom: 10px;
              right: 10px;
            }
          }
          .cursive {
            display: none;

            a {

            }
            .left, .right {

            }
            .left {

            }
          }
        }

        .phrase {
          width: 100%;
          margin-bottom: 41px;
        }

        .story {
          margin: 0.5%;
          width: 18%;

          > a {
            border-color: $azul;
          }


        }

        .help {
          margin: 0.5%;
          width: 18%;


        }

        .contact {
          margin: 0.5%;
          width: 18%;

          > a {
            border-color: $naranjaOscuro;
          }

        }

        .like {
          margin: 0.5%;
          width: 18%;

          > a {
            border-color: $violeta;
          }

        }

        .faq {
          margin: 0.5%;
          width: 18%;

          > a {
            border-color: $naranjaClaro;
          }

        }

      }
      .map {
        position: static;
        display: none;
      }

      .pictures {
        position: static;
        text-align: center;
      }

    }
  }

  .node-type-page, .node-type-team-member {

    .inner-content {

      .image {

      }

      .body {

        .column-1 {
          width: 100%;
        }

        .column-2 {
          width: 100%;
        }

      }

    }
  }

  .node-type-team-member {

    #content {
      .node-team-member {
        width: 90%;
        margin: 0 auto;
      }

      .group-left {

      }

      .group-right {
        width: 34%;

      }

    }
  }

  /** CONTACT **/
  .page-node-16 {
    .inner_column {

      .wrapper {

      }

      .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }

      .right {
        width: 100%;
      }

      .col-1, .col-2, .col-3, .col-4 {
        min-height: 30px;
        margin-right: 3%;
      }
      .col-1 {

        text-align: center;
      }
      .col-2 {

        text-align: center;

        p {
          margin-bottom: 30px;
        }
      }
      .col-3 {

        text-align: center;

        p {
          margin-bottom: 30px;
        }
      }
      .col-4 {
        margin-right: 0;
      }

    }
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #header {
    float: none;
    width: 100%;
    text-align: center;

    .logo-wrapper {
      display: inline-block;
      float: none;
    }
  }

  /*HOME PAGE*/
  .front {
    background-size: cover;

    #page {
      max-width: 100%;
      position: relative;
      padding-bottom: 20px;
    }
    padding-top: 30px;

    #header {
      float: none;
      width: 100%;
      text-align: center;

      .logo-wrapper {
        display: inline-block;
        float: none;
      }
    }

    #main {
      float: none;
      width: 100%;

      li {
        list-style-type: none;
      }
      #content > ul {
        margin: 0;
        padding: 0;

        > li {
          width: 100%;

          > a {
            text-align: center;
          }
          .more {

          }
          .text-box {
            margin-bottom: 20px;
            padding: 15px 17px !important;
          }
          .cursive {
            display: none;

            a {

            }
            .left, .right {

            }
            .left {

            }
          }
        }

        .phrase {
          width: 100%;
          margin-bottom: 20px;
        }

        .story {
          width: 100%;

          > a {
            border-color: $azul;
          }

          .text-box .more {
            margin-top: 12px;
          }
        }

        .help {
          width: 100%;

          .text-box .more {
            margin-top: 12px;
          }
        }

        .contact {
          width: 100%;

          > a {
            border-color: $naranjaOscuro;
          }
          .text-box .more {
            margin-top: 12px;
          }
        }

        .like {
          width: 100%;

          > a {
            border-color: $violeta;
          }
          .text-box .more {
            margin-top: 12px;
          }
        }

        .faq {
          width: 100%;
          margin-right: 0;

          > a {
            border-color: $naranjaClaro;
          }
          .text-box .more {
            margin-top: 12px;
          }
        }

      }
      .map {
        position: static;
        display: none;
      }

      .pictures {
        position: static;
        text-align: center;
      }

    }
  }

  .node-type-page, .node-type-team-member {

    .inner-content {

      .image {
        width: 100%;
        padding: 0;
      }

      .body {
        width: 100%;

        #page-title {
          text-align: center;
          margin-top: 25px;
        }

        .column-1 {
          width: 100%;
        }

        .column-2 {
          width: 100%;
        }

      }

    }
  }

  .node-type-team-member {

    #content {
      .node-team-member {
        width: 90%;
        margin: 0 auto;
      }

      .group-left {
        width: 100%;

      }

      .group-right {
        width: 100%;

        .title {
          text-align: center;
          margin-top: 25px;
        }

      }

    }
  }

  /** CONTACT **/
  .page-node-16 {
    .inner_column {

      .wrapper {

      }

      .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }

      .right {
        width: 100%;
      }

      .col-1, .col-2, .col-3, .col-4 {
        min-height: 30px;
        margin-bottom: 25px;
      }
      .col-1 {
        width: 100%;
        text-align: center;
      }
      .col-2 {
        width: 100%;
        text-align: center;

        p {
          margin-bottom: 30px;
        }
      }
      .col-3 {
        width: 100%;
        text-align: center;

        p {
          margin-bottom: 30px;
        }
      }
      .col-4 {
        width: 100%;
      }

    }
  }

  /** FAQ **/
  .page-node-18 {
    #main {

    }
    #content {

    }
    .view-mode-full {
      text-align: center;

      .wrapper {

        .body-content {

          h2 {
            line-height: 25px;
            margin-bottom: 25px;
          }
          width: 100%;
          margin-bottom: 30px;
        }

        .faq-block-wrapper {
          width: 100%;
        }

      }
    }

    .faq-details {
      padding-left: 10%;
      padding-right: 10%;

      .faq-title {
        font-size: 14px;
        margin-bottom: 8px;
      }

      .faq-col-a {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }

      .faq-col-b {
        width: 100%;
      }
    }

  }

  .page-node-25 {
    #main {
      background: rgba(83, 50, 128, 0.2);

      #content {
        padding: 0 10%;

        .views-row {
          width: 100%;
          margin-right: 0;
          text-align: center;
          margin-bottom: 50px;

          .views-field-title {
            text-align: center;
          }

          .views-field-nothing a {

          }

        }

        .views-row.views-row-even {
          margin-right: 0;
        }

      }

    }
    .things_menu ul {
      width: 100%;

      li {
        width: 33%;

        a {
          padding: 45px 0;
        }
      }

    }
  }

  .page-services {
    .services-description {

      > div {
        width: 100%;
        margin-bottom: 25px;
      }

      .left {
        margin-right: 0;
      }
    }

    #content {

      .views-row {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;

        .views-field-field-image {
          text-align: center;
          min-height: 30px;
          margin-bottom: 12px;
        }

      }
    }
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

}